#login-logo {
	max-width: 100%;
}

#logo { 
	max-width: 150px; 
}

.user-panel {
	height: 35px;
}

.sidebar-menu .header {
	text-transform: uppercase;
}

.sidebar-menu svg.i {
	  display: inline-block;
    width: 20px;
    height: 12px;
    fill: #b8c7ce;
}

.sidebar-mini.sidebar-collapse #nav-links {
	display: none;
}

.sidebar-mini.sidebar-collapse .logo {
	padding-left: 4px;
}

.btn-icon svg.i {
	width: 65px;
  height: 20px;
  fill: #666666;
  display: block;
}

#settings-panel .btn, #settings-panel-toolbar .btn {
	color: white;
}

#settings-panel .btn svg.i, #settings-panel-toolbar .btn svg.i {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	fill: #ffffff;
}

.col-actions svg.i {
	height: 12px;
	width: 12px;
	fill: #a3a4a6;
}

#nav-links {
	border-top: 2px solid #1a2226;
	margin-top: 10px;
	padding-top: 5px;
}

#nav-links a{
	display: block;
	text-align: center;
	text-align: -webkit-center;
	font-size: 12px;
	color: #6a8d9c;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.content-header {
	height: 45px;
}

.content-header h1{
	float: left;
}

#settings-panel-toolbar {
	float: right;
}

.btn-app {
	margin: 0;
}

.btn-app.inline-app {
	height: 34px;
	padding: 7px 0px 0px 17px;
}

.btn-app.inline-app svg.i {
	position: absolute;
	left: 12px;
	top: 5px;
	width: 15px;
}

.input-group-btn svg.i {
	height: 12px;
	width: 23px;
	fill: white;
}

.img-preview svg.i {
	position: absolute;
	top: 50%;
	right: 50%;
	width: 64px;
	height: 64px;
	padding: 11px;
	border-radius: 6px;
	opacity: 0;
	margin: -32px -32px 0 0;
	background-color: rgba(255,255,255,.35);
	fill: #666666;
}

.img-preview .popup-img:hover svg.i  {
	opacity: 1;
	    -moz-transition: opacity .15s ease;
    -webkit-transition: opacity .15s ease;
    transition: opacity .15s ease;
}

.img-preview .popup-img {
	position: relative;
}

#top {
	float: right;
}

table .checkbox input[type=checkbox] {
	margin: 0;
	text-align: center;
}

.panel-body.fade-short { 
	margin-bottom: 24px;
}

div.mfp-iframe-scaler iframe {
	background: #fff;
}
