#login-logo {
	max-width: 100%;
}

#logo { 
	max-width: 150px; 
}

.user-panel {
	height: 35px;
}

.sidebar-menu .header {
	text-transform: uppercase;
}

.sidebar-menu svg.i {
	  display: inline-block;
    width: 20px;
    height: 12px;
    fill: #b8c7ce;
}

.sidebar-mini.sidebar-collapse #nav-links {
	display: none;
}

.sidebar-mini.sidebar-collapse .logo {
	padding-left: 4px;
}

.btn-icon svg.i {
	width: 65px;
  height: 20px;
  fill: #666666;
  display: block;
}

#settings-panel .btn, #settings-panel-toolbar .btn {
	color: white;
}

#settings-panel .btn svg.i, #settings-panel-toolbar .btn svg.i {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	fill: #ffffff;
}

.col-actions svg.i {
	height: 12px;
	width: 12px;
	fill: #a3a4a6;
}

#nav-links {
	border-top: 2px solid #1a2226;
	margin-top: 10px;
	padding-top: 5px;
}

#nav-links a{
	display: block;
	text-align: center;
	text-align: -webkit-center;
	font-size: 12px;
	color: #6a8d9c;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.content-header {
	height: 45px;
}

.content-header h1{
	float: left;
}

#settings-panel-toolbar {
	float: right;
}

.btn-app {
	margin: 0;
}

.btn-app.inline-app {
	height: 34px;
	padding: 7px 0px 0px 17px;
}

.btn-app.inline-app svg.i {
	position: absolute;
	left: 12px;
	top: 5px;
	width: 15px;
}

.input-group-btn svg.i {
	height: 12px;
	width: 23px;
	fill: white;
}

/* IMAGE FIELD */
.img-preview svg.i {
	position: absolute;
	top: 50%;
	right: 50%;
	width: 64px;
	height: 64px;
	padding: 11px;
	border-radius: 6px;
	opacity: 0;
	margin: -32px -32px 0 0;
	background-color: rgba(255,255,255,.35);
	fill: #666666;
}

.img-preview .popup-img:hover svg.i  {
	opacity: 1;
	    -moz-transition: opacity .15s ease;
    -webkit-transition: opacity .15s ease;
    transition: opacity .15s ease;
}

.img-preview .popup-img {
	position: relative;
}

/* FIX */

#top {
	float: right;
}

table .checkbox input[type=checkbox] {
	margin: 0;
	text-align: center;
}

.panel-body.fade-short { 
	margin-bottom: 24px;
}

div.mfp-iframe-scaler iframe {
	background: #fff;
}

.icon.tt {
	display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}


/* PAGINATION */

.box-footer .btn-group, .ctrl-top .btn-group{
	float: right;
}

.btn-pg {
	position: relative;
  float: left;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  background: #fafafa;
  color: #666;
  margin-left: -1px;
  line-height: 1.42857143;
  text-decoration: none;
  border: 1px solid #ddd;
}

.btn-pg:hover {
	z-index: 2;
	color: #23527c;
	background-color: #eee;
	border-color: #ddd;
}

.btn-pg.btn-primary {
	background-color: #e4e4e4;
	font-weight: 600;
}

.btn-pg.btn-primary:hover {
	border-color: #bfbfbf;
  background-color: #d7d7d7;
}

.btn-pg svg.i {
	height: 10px;
  width: 10px;
  fill: #666666;
}

/* ADVANCE SETTINGS DROPDOWN */

#settings-panel {
	position: relative;
	top: -100px;
	float: right;
}

#settings-panel .btn {
	float: right;
}

#settings-panel .panel-body {
	border: 1px solid silver;
	top: 34px;
	right: 0px;
	position: absolute;
	width: 300px;
	background-color: white;
	z-index: 1;
}